In [30]:
from tensorflow.keras.models import load_model
import pickle
import pandas as pd

In [31]:
## Load all pickle files and model

model = load_model('model.h5')

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)

with open('Scaler_features.pkl','rb') as file:
    scaler=pickle.load(file)

In [32]:
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':5000
}

In [33]:
input_data = pd.DataFrame([input_data])

In [34]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,5000

In [36]:
geo_encoded = onehot_encoder_geo.transform([input_data['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out())

/Users/sumitsaha/Desktop/DataScience_Udemy/DEEP_Learning/ANN_Project/venv/lib/python3.11/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [37]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [38]:
input_data = pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)

In [39]:
input_data = input_data.drop(['Geography'],axis=1)

In [40]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,5000,1.0,0.0,0.0

In [41]:
input_data['Gender']=label_encoder_gender.transform(input_data['Gender'])
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,5000,1.0,0.0,0.0

In [42]:
input_data = scaler.transform(input_data)
input_data

array([[-0.54007722,  0.91186722,  0.10685843, -0.69164931, -0.26034447,
         0.81311138,  0.64946204,  0.96978946, -1.66189418,  1.00053348,
        -0.57776083, -0.57735027]])

In [43]:
y_pred=model.predict(input_data)

1/1 [==============================] - 0s 102ms/step

In [45]:
if y_pred<0.5:
    print('No Exited')
else:
    print('Yes Exited')

No Exited